html {
  overflow-y: scroll;
}

body {
  font: small/normal Arial,sans-serif;
}

.container {
  width: 1240px;
}

.planner-container {
  border-bottom: 1px solid #DDD;
  height: 100%;
  position: relative;
}

.planner {
}

.planner .year-row {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.planner table {
  width: 100%;
  font-size: 10pt;
  font-family: Arial,sans-serif;
}

.planner table.background th {
  border: 1px #ddd solid;
}

.planner table.background td, .planner table.labels td {
  height: 80px;
}

.planner table.background td {
  border: 1px #ddd solid;
}

.planner table.labels td span {
  display: inline-block;
  padding: 0px 0px 4px 4px;
}

.planner table.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
}

.planner table.labels {
  position: relative;
  table-layout: fixed;
  width: 100%;
}

.planner table.labels th {
  font-size: 12pt;
}

.planner table.labels td {
  font-size: 8pt;
  vertical-align: bottom;
}

.planner table.entries {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
}

.planner table.entries tr {
  overflow: hidden;
  vertical-align: top;
}

.planner table.entries .fill {
height: 100%;
}

.planner table.entries td {
  overflow: hidden;
  vertical-align: top;
}

.planner table.entries .entry {
  height: 5px;
  opacity: 0.35;
}

.planner .background .period.todays {
  background: #ffa
}

.planner table.entries .entry {
}
