html {
  overflow-y: scroll;
}

body {
  font: small/normal Arial,sans-serif;
}

.container {
  width: 1240px;
}

.planner {
}

.planner .planner-main-wrapper {
  border-bottom: 1px solid #DDD;
  position: relative;
}

.planner {
}

.planner .planner-main .year-row {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.planner .planner-main table {
  width: 100%;
  font-size: 10pt;
  font-family: Arial,sans-serif;
}

.planner .planner-main table.background th {
  border: 1px #ddd solid;
}

.planner .planner-main table.background td, .planner table.labels td {
  height: 100px;
}

.planner .planner-main table.background td {
  border: 1px #ddd solid;
}

.planner .planner-main table.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
}

.planner .planner-main table.labels {
  pointer-events: none;
  position: relative;
  table-layout: fixed;
  width: 100%;
}

.planner .planner-main table.labels th {
  font-size: 12pt;
}

.planner .planner-main table.labels td {
  pointer-events: none;
  vertical-align: top;
  font-size: 8pt;
}

.planner .planner-main table.labels td span {
  display: inline-block;
  padding: 4px 0px 0px 4px;
}

.planner .planner-main table.entries {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
  margin-top: 20px;
}

.planner .planner-main table.entries tr {
  overflow: hidden;
}

.planner .planner-main table.entries .fill {
  height: 100%;
}

.planner .planner-main table.entries td {
  overflow: hidden;
  vertical-align: top;
}

.planner .planner-main table.entries .entry {
  height: 5px;
  opacity: 0.35;
}

.planner .planner-main table.entries .entry span {
  display: none;
  padding: 2px;
  font-size: 9pt;
  font-weight: bold;
  cursor: pointer;
}

.planner .planner-main table.entries .entry.hover {
  opacity: 0.8;
  height: 20px;
}

.planner .planner-main table.entries .entry.hover span {
  display: inline-block;
}

.planner .planner-main table.entries .entry.selected {
  height: 20px;
  opacity: 1.0;
}

.planner .planner-main table.entries .entry.selected span {
  display: inline-block;
}

.planner .planner-main .background .period.todays {
  background: #ffa
}

.planner .planner-main table.entries .entry {
}


#left {
  float: left;
  width: 290px;
}

#planner {
  margin-left: 300px;
}

.form-horizontal label.error {
  float: right;
}

.form-inline label.error {
  display: inline-block;
}

label.error {
  font-size: 8pt;
}

input.error {
  border: 1px solid #ff3333;
}

#listing tr.selected td {
  background: #ffa;
  font-weight: bold;
}
